################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HNetPortal/App_Data/PlexPaths.xml
/HNetPortal/App_Data/boil_id_rsa
/HNetPortal/App_Data/lrpx_esxi
/HNetPortal/App_Data/WakeOnLanData.xml
