################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HNetPortal/App_Data/PlexPaths.xml
