/*
    This is an alternate nav bar (top only; if you want bottom too then
    modify for navbar-default).

    A handly online tool to build this can be found at:
    https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0

    You can simply add this to the bottom of your site.master page and try it out:
      <link href="~/Content/HNetNavBar.css" rel="stylesheet" />
    MAKE SURE you are using navbar-default class though!

*/


.navbar-default {
  background-color: #051c67;
  border-color: #051c67;
}

.navbar-default .navbar-brand {
  color: #e8edee;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dee3f3;
}
.navbar-default .navbar-text {
  color: #e8edee;
}
.navbar-default .navbar-nav > li > a {
  color: #e8edee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dee3f3;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #051c67;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #e8edee;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  background-color: #dee3f3;
  color: #051c67;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #051c67;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #dee3f3;
  background-color: #051c67;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dee3f3;
  background-color: #051c67;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #dee3f3;
  background-color: #051c67;
}
.navbar-default .navbar-toggle {
  border-color: #051c67;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #051c67;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e8edee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e8edee;
}
.navbar-default .navbar-link {
  color: #e8edee;
}
.navbar-default .navbar-link:hover {
  color: #dee3f3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e8edee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dee3f3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dee3f3;
    background-color: #051c67;
  }
}
