@{
	ViewBag.Title = "HNetPortal Version Details";
}

<div class="jumbotron text-center ">
	<h1>The HNet Portal</h1>
	<p>
		<i class="glyphicon  glyphicon-tree-conifer"></i>&nbsp;Application Version Details
	</p>
</div>

No content at this time.
