@{
	ViewBag.Title = "HNetPortal Version";
}

@section HeadExtras
{
	<script src="@Url.Content("~/Scripts/knockout-3.4.2.js")"></script>
}

<div class="jumbotron text-center ">
	<h1>The HNet Portal</h1>
	<p>
		<i class="glyphicon  glyphicon-tree-conifer"></i>&nbsp;Application Version
	</p>
</div>

<table border="0">
	<tr>
		<td><h4>Title</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4><b><span data-bind="text: Title"></span></b></h4></td>
	</tr>
	<tr>
		<td><h4>Company</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4><b><span data-bind="text: Company"></span></b></h4></td>
	</tr>
	<tr>
		<td><h4>Author</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4><b><span data-bind="text: Author"></span></b></h4></td>
	</tr>
	<tr>
		<td><h4>Copyright</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4> <b><span data-bind="text: Copyright"></span></b></h4></td>
	</tr>
	<tr>
		<td><h4>Version</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4><b><span data-bind="text: Version"></span></b></h4></td>
	</tr>
	<tr>
		<td><h4>Release Date</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4><b><span data-bind="text: Date"></span></b></h4></td>
	</tr>

	<tr><td colspan="3"><hr /></td></tr>
	<tr><td colspan="3"><h3>Libraries</h3></td></tr>


	<tr>
		<td><h4>WSHLib</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4><b>Version: <span data-bind="text: WSHLibVersion"></span> (<span data-bind="text: WSHLibDate"></span>), <span data-bind="text: WSHLibCopyright"></span>, <span data-bind="text: WSHLibAuthor"></span></b></h4></td>
	</tr>

	<tr>
		<td><h4>PFTrack2</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4><b>Version <span data-bind="text: PFTrack2Version"></span> (<span data-bind="text: PFTrack2Date"></span>), <span data-bind="text: PFTrack2Copyright"></span>, <span data-bind="text: PFTrack2Author"></span></b></h4></td>
	</tr>

	<tr>
		<td><h4>PFTrack2 SOAP API</h4></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><h4><b>Version <span data-bind="text: PFTrack2SoapApiVersion"></span> (<span data-bind="text: PFTrack2Date"></span>)</b></h4></td>
	</tr>


</table>

<script type="text/javascript">

	$.ajaxSetup({
		// Disable caching of AJAX responses
		cache: false
	});

	var ViewModel = function (data) {
		this.Title = ko.observable(data.Portal.Title);
		this.Copyright = ko.observable(data.Portal.Copyright);
		this.Company = ko.observable(data.Portal.Company);
		this.Version = ko.observable(data.Portal.Version);
		this.Date = ko.observable(data.Portal.Date);
		this.Author = ko.observable(data.Portal.Author);
		this.WSHLibVersion = ko.observable(data.WSHLib.Version);
		this.WSHLibDate = ko.observable(data.WSHLib.Date);
		this.WSHLibCopyright = ko.observable(data.WSHLib.Copyright);
		this.WSHLibAuthor = ko.observable(data.WSHLib.Author);
		this.PFTrack2Version = ko.observable(data.PFTrack2.Version);
		this.PFTrack2Date = ko.observable(data.PFTrack2.Date);
		this.PFTrack2Copyright = ko.observable(data.PFTrack2.Copyright);
		this.PFTrack2Author = ko.observable(data.PFTrack2.Author);
		this.PFTrack2SoapApiVersion = ko.observable(data.PFTrack2SoapApi.Version);

		console.log("ViewModel loaded");
	};


	$(document).ready(function () {
		console.log("document loaded");

		$.ajax({
			url: '/api/version',
			type: "GET",
			dataType: 'json',
			contentType: "application/json",
			complete: function (xhr, statusText) {
				console.log("Get xhr.status=" + xhr.status + ", statusText=" + statusText);
				switch (xhr.status) {
					case 200: // success
						console.log("returned 200 -- Success");
						break;
					case 500:
						console.log("returned 500 Error");
						break;
					default:
						console.log("returned " + xhr.status + "text: " + xhr.statusText);
				}
			},
			success: function (data) {
				ko.applyBindings(new ViewModel(data));
			},
		});

	});

</script>